<h1>
  {{title}}
</h1>

<p>Ejemplo construido con Lazy-loading o Carga perezosa, acelera la carga inicial de tu web.</p>
<p>Llama a tus componentes que necesitas, cuando los necesitas.</p>
<a href="https://angular.io/guide/lazy-loading-ngmodules">Documentation</a>

<ul>
  <li>
    Abre el inspector de elementos.
  </li>
  <li>
    Ve a la pestaña de "Red".
  </li>
  <li>
    Haz click en "Customers" y "Orders".
  </li>
  <li>
    Veras que solo son cargados, cuando se necesitan.
  </li>
  <li>
    Lo cual hace que main.js pese poco, al no llevar esa carga inicial.
  </li>
</ul>

<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet>